1_DiVA_MultiFeature_DML/architectures/__pycache__/
1_DiVA_MultiFeature_DML/batchminer/__pycache__/
1_DiVA_MultiFeature_DML/criteria/__pycache__/
1_DiVA_MultiFeature_DML/datasampler/__pycache__/
1_DiVA_MultiFeature_DML/datasets/__pycache__/
1_DiVA_MultiFeature_DML/evaluation/__pycache__/
1_DiVA_MultiFeature_DML/metrics/__pycache__/
1_DiVA_MultiFeature_DML/utilities/__pycache__/
1_DiVA_MultiFeature_DML/metrics/__pycache__/
1_DiVA_MultiFeature_DML/__pycache__/
1_DiVA_MultiFeature_DML/.vscode
1_DiVA_MultiFeature_DML/datasets/get_json.ipynb
1_DiVA_MultiFeature_DML/.vscode/launch.json
1_DiVA_MultiFeature_DML/.vscode/launch.json
1_DiVA_MultiFeature_DML/datasets/BigEarthNet_split/bak
1_DiVA_MultiFeature_DML/architectures/hub/checkpoints/resnet50-19c8e357.pth
1_DiVA_MultiFeature_DML/datasets/test.ipynb
1_DiVA_MultiFeature_DML/.vscode/launch.json
2_metric-learning-divide-and-conquer/config.json
2_metric-learning-divide-and-conquer/.vscode/launch.json
2_metric-learning-divide-and-conquer/.vscode/settings.json
2_metric-learning-divide-and-conquer/__pycache__/train.cpython-37.pyc
1_DiVA_MultiFeature_DML/.vscode/launch.json
2_metric-learning-divide-and-conquer/config.json
3_bier/__pycache__/dataset.cpython-37.pyc
3_bier/__pycache__/dataset.cpython-38.pyc
3_bier/__pycache__/flip_gradient.cpython-37.pyc
3_bier/__pycache__/flip_gradient.cpython-38.pyc
3_bier/architectures/.inception.py.swp
3_bier/architectures/__pycache__/__init__.cpython-37.pyc
3_bier/architectures/__pycache__/__init__.cpython-38.pyc
3_bier/architectures/__pycache__/deep_inception.cpython-37.pyc
3_bier/architectures/__pycache__/deep_inception.cpython-38.pyc
3_bier/architectures/__pycache__/resnet50.cpython-38.pyc
3_bier/architectures/__pycache__/resnet50.cpython-37.pyc
.gitignore
3_bier/BigEarthNet_split/test_images.npy
3_bier/BigEarthNet_split/test_labels.npy
.gitignore
3_bier/BigEarthNet_split/train_images.npy
3_bier/BigEarthNet_split/train_labels.npy
.gitignore
3_bier/BigEarthNet_split/val_images.npy
3_bier/BigEarthNet_split/val_labels.npy
3_bier/kaffe/__pycache__/__init__.cpython-37.pyc
3_bier/kaffe/__pycache__/transformers.cpython-38.pyc
3_bier/kaffe/__pycache__/transformers.cpython-37.pyc
3_bier/kaffe/__pycache__/shapes.cpython-38.pyc
3_bier/kaffe/__pycache__/shapes.cpython-37.pyc
3_bier/kaffe/__pycache__/layers.cpython-38.pyc
3_bier/kaffe/__pycache__/layers.cpython-37.pyc
3_bier/kaffe/__pycache__/graph.cpython-38.pyc
3_bier/kaffe/__pycache__/graph.cpython-37.pyc
3_bier/kaffe/__pycache__/errors.cpython-38.pyc
3_bier/kaffe/__pycache__/errors.cpython-37.pyc
3_bier/kaffe/__pycache__/__init__.cpython-38.pyc
.gitignore
3_bier/kaffe/tensorflow/__pycache__/__init__.cpython-37.pyc
3_bier/kaffe/caffe/__pycache__/resolver.cpython-38.pyc
3_bier/kaffe/caffe/__pycache__/resolver.cpython-37.pyc
3_bier/kaffe/caffe/__pycache__/__init__.cpython-38.pyc
3_bier/kaffe/caffe/__pycache__/__init__.cpython-37.pyc
3_bier/kaffe/tensorflow/__pycache__/__init__.cpython-38.pyc
3_bier/kaffe/tensorflow/__pycache__/network.cpython-37.pyc
3_bier/kaffe/tensorflow/__pycache__/network.cpython-38.pyc
3_bier/kaffe/tensorflow/__pycache__/transformer.cpython-37.pyc
3_bier/kaffe/tensorflow/__pycache__/transformer.cpython-38.pyc
1_DiVA_MultiFeature_DML/.vscode/launch.json
2_metric-learning-divide-and-conquer/config.json
2_metric-learning-divide-and-conquer/__pycache__/train.cpython-37.pyc
config_hpc.txt
1_DiVA_MultiFeature_DML/.vscode/launch.json
2_metric-learning-divide-and-conquer/config.json
