1_DiVA_MultiFeature_DML/architectures/__pycache__/
1_DiVA_MultiFeature_DML/batchminer/__pycache__/
1_DiVA_MultiFeature_DML/criteria/__pycache__/
1_DiVA_MultiFeature_DML/datasampler/__pycache__/
1_DiVA_MultiFeature_DML/datasets/__pycache__/
1_DiVA_MultiFeature_DML/evaluation/__pycache__/
1_DiVA_MultiFeature_DML/metrics/__pycache__/
1_DiVA_MultiFeature_DML/utilities/__pycache__/
1_DiVA_MultiFeature_DML/metrics/__pycache__/
1_DiVA_MultiFeature_DML/__pycache__/
1_DiVA_MultiFeature_DML/.vscode/
1_DiVA_MultiFeature_DML/datasets/get_json.ipynb
1_DiVA_MultiFeature_DML/datasets/test.ipynb
1_DiVA_MultiFeature_DML/datasets/BigEarthNet_split/bak
1_DiVA_MultiFeature_DML/architectures/hub/checkpoints/resnet50-19c8e357.pth
3_bier/__pycache__
3_bier/architectures/__pycache__
3_bier/kaffe/__pycache__
3_bier/kaffe/tensorflow/__pycache__
3_bier/kaffe/caffe/__pycache__
3_bier/log
2_metric-learning-divide-and-conquer/__pycache__
2_metric-learning-divide-and-conquer/.vscode
2_metric-learning-divide-and-conquer/pretrained_weights
2_metric-learning-divide-and-conquer/log
3_bier/architectures/weights/resnet50.npy
